
@import "./trig";

$transitionDurationInteger: 2000;
$transitionDuration: $transitionDurationInteger + 0ms;
$angle: -24deg;
$oppositeToAngleSideLength: tan(-$angle) * 100vh;
$breakpoint: 992px;

:export {
  transitionDuration: $transitionDurationInteger;
}

.CountDownAndHomeCastle {

  width: 100%;
  height: 100vh;

  position: relative;
  z-index: 1;
  $width_of_castle: 75%;

  .castle {

    //border: 6px solid yellow;

    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;

    height: 100%;
    width: $width_of_castle;

    transition: width $transitionDuration;

    background-image: url(./castle_background.png);

    background-position: right 50% bottom 0%;
    background-repeat: no-repeat;
    background-size: cover;

    /*  --- Overlay --- */

    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -3;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.45);

      transition: background-color $transitionDuration;

    }

    /* --- skew separation (as an after element) ---- */
    overflow: hidden;

    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: -2;
      top: 0;
      right: 100%;
      width: 10000px;
      height: 100%;
      transform-origin: bottom;
    
    
      -webkit-transform: skewX($angle);
      -moz-transform: skewX($angle);
      -ms-transform: skewX($angle);
      -o-transform: skewX($angle);
      transform: skewX($angle);
    
      transition: transform $transitionDuration;
    
      background-color: #fff;
    
    }

    > .countdown {


      position: absolute;
      width: calc(100% - #{$oppositeToAngleSideLength});
      height: 100%;

      //border: black 5px solid;
      right: 0;

      opacity: 100%;

      transition: opacity $transitionDuration;

      display: flex;
      justify-content: center;
      align-items: center;

      > div {

        width: 200px;
        height: 200px;
        background-color: red;

      }

      @media (max-width: $breakpoint) {

        position: unset;
        width: 100%;
        right: unset;

      }

    }

    @media (max-width: $breakpoint) {

      position: relative;
      width: 100%;
      height: 75%; 
      transition: height $transitionDuration;

      $angle: 8deg;
      
      &::after {
        top: 100%;
        right: 0;
        width: 100%;
        height: 10000px;
        transform-origin: top right;
        -webkit-transform: skew(180deg, $angle);
        -moz-transform: skew(180deg, $angle);
        -ms-transform: skew(180deg, $angle);
        -o-transform: skew(180deg, $angle);
        transform: skew(180deg, $angle);
      }

      
    }


  }

  .countdownSidePanel {

    //border: 3px red solid;

    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

    height: 100%;

    //width: calc(100% - #{$width_of_castle} + #{$oppositeToAngleSideLength});
    //width: calc(100% - #{$width_of_castle} + 20%);

    transition: width 0s $transitionDuration;

    > * {
      transition: transform $transitionDuration;
    }


    > div {

      margin-top: 40%;

      width: 100%;

      //border: 1px solid black;

      padding-left: 20px;

      > h1 {
      
        font-weight: 500;
        font-size: 1.5em;

        color: #555555
      
      }

      > h2 {


        font-weight: 300;
        font-size: 1em;
        color: #999999;

      }

      > div button {

        margin-top: 20px;

        font: unset;

        width: 161px;
        height: 64px;
        border: 3px solid black;
        border-radius: 0;
        font-size: 1.5em;
        font-weight: 500;

        -webkit-box-shadow: 14px 16px 31px -14px rgba(0,0,0,0.53);
        -moz-box-shadow: 14px 16px 31px -14px rgba(0,0,0,0.53);
        box-shadow: 14px 16px 31px -14px rgba(0,0,0,0.53);

      }


      @media (max-width: $breakpoint) {

        margin-top: 0%;

        > div {

          text-align: center;

        }

      }

    }

    @media (max-width: $breakpoint) {



      position: initial;
      top: unset;
      left: unset;
      height: unset;
      width: unset;


    }

  }

  &.homepageState {

    .countdownSidePanel {

      > * {
        transform: translate(-1000px);
      }

    }

    .castle {
    
      width: 100%;

      &::before {
        background-color: rgba(0,0,0,0);
      }

      &::after {
        
        $angle: 0deg;
        
        -webkit-transform: skewX($angle);
        -moz-transform: skewX($angle);
        -ms-transform: skewX($angle);
        -o-transform: skewX($angle);
        transform: skewX($angle);
        
      }

      > .countdown {

        opacity: 0%;

      }

      @media (max-width: $breakpoint) {

        height: 100%;

        &::after {

          $angle: 0;

          -webkit-transform: skew(180deg, $angle);
          -moz-transform: skew(180deg, $angle);
          -ms-transform: skew(180deg, $angle);
          -o-transform: skew(180deg, $angle);
          transform: skew(180deg, $angle);

        }


      }
      

    }


  }

}


