
@import "./trig";

$transitionDurationInteger: 2000;
$transitionDuration: $transitionDurationInteger + 0ms;
$angle: -24deg;
$oppositeToAngleSideLength: tan(-$angle) * 100vh;

:export {
  transitionDuration: $transitionDurationInteger;
}

.CountDownAndHomeCastle {

  width: 100%;
  min-height: 100vh;

  position: relative;
  z-index: 1;
  $width_of_castle: 75%;

  background-color: violet;

  



  .castle {

    //border: 2px blue solid;

    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;

    height: 100%;
    width: $width_of_castle;

    transition: width $transitionDuration;

    background-image: url(./castle_background.png);

    background-position: right 50% bottom 0%;
    background-repeat: no-repeat;
    background-size: cover;

    /*  --- Overlay --- */

    /*
    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -3;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.45);

      transition: background-color $transitionDuration;

    }
    */

    /* --- skew separation (as an after element) ---- */
    overflow: hidden;

    /*
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: -2;
      top: 0;
      right: 100%;
      width: 10000px;
      height: 100%;
      transform-origin: bottom;
    
    
      -webkit-transform: skewX($angle);
      -moz-transform: skewX($angle);
      -ms-transform: skewX($angle);
      -o-transform: skewX($angle);
      transform: skewX($angle);
    
      transition: transform $transitionDuration;
    
      background-color: #fff;
    
    }
    */

    
    border: 6px solid yellow;

    @media (max-width: 992px) {

      position: unset;
      //height: 300px !important;


      
    }

    > .countdown {


      position: absolute;
      width: calc(100% - #{$oppositeToAngleSideLength});
      height: 100%;
      border: black 5px solid;
      right: 0;

      opacity: 100%;

      transition: opacity $transitionDuration;
      //transition: width $transitionDuration;

      display: flex;
      justify-content: center;
      align-items: center;

      > div {

        width: 200px;
        height: 200px;
        background-color: red;

      }

    }

    @media (max-width: 992px) {

      position: unset;
      width: 100%;
      //padding-left: 15px;
      //padding-right: 15px;
      height: 75%;
      
      /*
      &::after {
        top: 100%;
        right: 0;
        width: 100%;
        height: 10000px;
        transform-origin: top right;
        -webkit-transform: skew(180deg, 8deg);
        -moz-transform: skew(180deg, 8deg);
        -ms-transform: skew(180deg, 8deg);
        -o-transform: skew(180deg, 8deg);
        transform: skew(180deg, 8deg);
      }
      */

      > .countdown {
        width: 100%;
      }
      
    }

  }

  .countdownSidePanel {

    border: 3px red solid;

    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

    height: 100%;

    //width: calc(100% - #{$width_of_castle} + #{$oppositeToAngleSideLength});
    width: calc(100% - #{$width_of_castle});

    transition: width 0s $transitionDuration;

    > * {
      transition: transform $transitionDuration;
    }


    > div {

      //margin-top: 40%;

      width: 100%;

      border: 1px solid black;

      padding-left: 20px;

      > h1 {
      
        font-weight: 500;
        font-size: 1.5em;

        color: #555555
      
      }

      > h2 {


        font-weight: 300;
        font-size: 1em;
        color: #999999;

      }

    }

    @media (max-width: 992px) {



      position: initial;
      top: unset;
      left: unset;
      height: unset;
      width: unset;


    }

  }

  &.homepageState {

    .countdownSidePanel {

      width: 0;

      > * {
        transform: translate(-1000px);
      }

    }

    .castle {
    
      width: 100%;

      &::before {
        background-color: rgba(0,0,0,0);
      }

      &::after {
        
        $angle: 0deg;
        
        -webkit-transform: skewX($angle);
        -moz-transform: skewX($angle);
        -ms-transform: skewX($angle);
        -o-transform: skewX($angle);
        transform: skewX($angle);
        
      }

      > .countdown {

        opacity: 0%;

      }
      

    }


  }

}


