
$breakpoint: 992px;

.Home {

    button {

        background: none;
        border: 3px solid black;
        border-radius: 15px;
        font-size: 1.3em;
        line-height: 1.3em;

    }

    h1 {

        font-weight: 500;
        font-size: 1.7em;

        color: #000000;

    }

    h3 {

        color: grey;

    }


    > section.sep {

        background-color: #486880;
        text-align: center;

        $paddingVertical: 40px;

        padding-top: $paddingVertical;
        padding-bottom: $paddingVertical;

        > h1 {
            margin-top: 0;
        }

        > h1, > p {
            color: white;
        }

        > p {
            width: 60%;
            margin: auto;

            @media (max-width: $breakpoint) {
                width: 90%;
            }

        }



    }

    /*
    > section:last-of-type {
        margin-bottom: 60px;
    }
    */

    > section.scheme {

        margin-top: 60px;
        margin-bottom: 60px;

        display: flex;
        flex-wrap: wrap;

        //$paddingLateral: 10%;
        $paddingLateral: 18%;

        padding-left: $paddingLateral;
        padding-right: $paddingLateral;

        > div:nth-of-type(1) {
            flex: 1;
            min-width: 350px;

            padding-right: 10%;


            > p {
                

                font-size: 1.2em;
                line-height: 33px;

                color: #000000;
                opacity: 0.6;


            }

            > button {

                margin-top: 30px;
                margin-bottom: 50px;

            }

            @media (max-width: $breakpoint) {

                min-width: unset;
                padding-right: 0%;

            }


        }

        > img {
            width: 560px;
            height: 426px;
            @media (max-width: $breakpoint) {

                width: unset;
                max-width: 90%;
                height: unset;

            }
        }

        @media (max-width: 1600px) {
            $paddingLateral: 12%;
            padding-left: $paddingLateral;
            padding-right: $paddingLateral;
        }


        @media (max-width: $breakpoint) {
            $paddingLateral: 7%;
            padding-left: $paddingLateral;
            padding-right: $paddingLateral;
        }


    }



}