
$breakpoint2: 1280px;

.Home {

    > div:nth-of-type(1) {

        margin-top: 60px;

        display: flex;
            flex-wrap: wrap;

        $paddingLateral: 10%;

        padding-left: $paddingLateral;
        padding-right: $paddingLateral;

        > div:nth-of-type(1) {
            flex: 1;
            min-width: 350px;

            padding-right: 10%;

            > h1 {

                font-weight: 500;
                font-size: 36px;
                line-height: 42px;

                color: #000000;


            }

            > h3 {

                color: grey;

            }

            > p {
                

                font-size: 1.2em;
                line-height: 33px;

                color: #000000;
                opacity: 0.6;


            }

        }

    }



}